## Police Data Set Analysis
### The data from a Police Check Post is given.

In [1]:
import pandas as pd

In [10]:
police = pd.read_csv('Police_Data.csv')

In [11]:
police.head(3)

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [12]:
# (row, column)
police.shape

(65535, 15)

.
### 1) Data Cleaning
#### Remove the column that only contains missing values

In [13]:
# Check for the sum of null values present
police.isnull().sum()

stop_date                 0
stop_time                 0
country_name          65535
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

In [14]:
# removing column with name = 'country_name'
police.drop(columns = 'country_name') # Will give the copy

# M1 ---> police = police.drop(columns = 'country_name')
# Method - 2
police.drop(columns = 'country_name', inplace = True)
police.head(3)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

.
### 2) Filtering + Value Counts
#### For speeding, were Men or Women stopped more often

In [16]:
police.head(3)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [22]:
# geeting boolean result when violation column = Speeding
police['violation'] == 'Speeding'

# Getting dataFrame for above case
police[police['violation'] == 'Speeding']

# now from above dataFrame we need to make the count for uniques value from the column driver_gender
# Selecting driver_gender column from above dataFrame
(police[police['violation'] == 'Speeding'])['driver_gender']

# Now counting the unique samples count using value_counts() function
((police[police['violation'] == 'Speeding'])['driver_gender']).value_counts()

M    25517
F    11686
Name: driver_gender, dtype: int64

.
### 3) GroupBy
#### Does gender affect who gets searched during a stop ?

In [23]:
police.head(3)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [29]:
# Total how many times search conducted
# value_counts() will give the number of times True is present and number of times the False is present
police['search_conducted'].value_counts()

False    63056
True      2479
Name: search_conducted, dtype: int64

In [30]:
# Two column used are --> 1_ driver_gender and 2_search_conducted

# Getting the column driver_gender as groupby to make the unique value sample
# Group of males and Female will be created
police.groupby('driver_gender')

# Now checking of search is conducted on whom
police.groupby('driver_gender')['search_conducted']

# now summing the values
police.groupby('driver_gender')['search_conducted'].sum()

driver_gender
F     366
M    2113
Name: search_conducted, dtype: int64

.
### 4) Mapping + Data-type casting
#### What is the mean stop_duration

In [31]:
police.head(3)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [32]:
# will use stop_duration column
police['stop_duration']

0         0-15 Min
1         0-15 Min
2         0-15 Min
3        16-30 Min
4         0-15 Min
           ...
65530     0-15 Min
65531     0-15 Min
65532     0-15 Min
65533          NaN
65534     0-15 Min
Name: stop_duration, Length: 65535, dtype: object

In [37]:
# finding mean
# will give error
# police['stop_duration'].mean()

# As the data type for stop duration is not float it is string or object
police.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65535 non-null  object
 1   stop_time           65535 non-null  object
 2   driver_gender       61474 non-null  object
 3   driver_age_raw      61481 non-null  float64
 4   driver_age          61228 non-null  float64
 5   driver_race         61475 non-null  object
 6   violation_raw       61475 non-null  object
 7   violation           61475 non-null  object
 8   search_conducted    65535 non-null  bool
 9   search_type         2479 non-null   object
 10  stop_outcome        61475 non-null  object
 11  is_arrested         61475 non-null  object
 12  stop_duration       61475 non-null  object
 13  drugs_related_stop  65535 non-null  bool
dtypes: bool(2), float64(2), object(10)
memory usage: 6.1+ MB

In [38]:
# checking for number of unique value present in stop_duration
police['stop_duration'].value_counts()

0-15 Min     47379
16-30 Min    11448
30+ Min       2647
2                1
Name: stop_duration, dtype: int64

In [40]:
# converting the duration of minutes as float value by its mean value
# replacing ('0-15 Min' with 7.5), ('16-30 Min' with 23), and ('30+ Min' with 45)

# will give the copy of column
police['stop_duration'].map( {'0-15 Min' : 7.5, '16-30 Min' : 23, '30+ Min' : 45} )

# replacing old_stop_duration with new_stop_duration
police['_stop_duration'] = police['stop_duration'].map( {'0-15 Min' : 7.5, '16-30 Min' : 23, '30+ Min' : 45} )

#printing datafram
police.head()

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,_stop_duration
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,7.5
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,7.5
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,7.5
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False,23.0
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,7.5

In [43]:
# Now finding the mean
police['_stop_duration'].mean()

12.001195627419722

.
### Groupby, Describe
#### Compare the age distributions for each violation

In [44]:
police.head(3)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,_stop_duration
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,7.5
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,7.5
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,7.5

In [49]:
# 
# Getting the column violation as groupby to make the unique value sample
# Group of each types of violation possible for example speeding, will be created
police.groupby('violation')

# now referring the driver_age column after grouping 
police.groupby('violation')['driver_age']

# now we will use decribe method to describe the above column'
police.groupby('violation')['driver_age'].describe()

,count,mean,std,min,25%,50%,75%,max
violation,,,,,,,,
Equipment,6507.0,31.682957,11.380671,16.0,23.0,28.0,39.0,81.0
Moving violation,11876.0,36.736443,13.258350,15.0,25.0,35.0,47.0,86.0
Other,3477.0,40.362381,12.754423,16.0,30.0,41.0,50.0,86.0
Registration/plates,2240.0,32.656696,11.150780,16.0,24.0,30.0,40.0,74.0
Seat belt,3.0,30.333333,10.214369,23.0,24.5,26.0,34.0,42.0
Speeding,37120.0,33.262581,12.615781,15.0,23.0,30.0,42.0,88.0